/*
Power+ CSS v2.1.0 [DEV]
(c) jottocraft 2018-2019
*/

/* cacao */
body.cacao .cacaoBar {
    display: block !important;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 0px;
    z-index: 300;
    width: calc(100% - 460px);
    background-color: var(--nav);
    border-radius: 15px;
    overflow-x: auto;
    white-space: nowrap;
}

body.cacao .cacaoBar .tab {
    background-color: var(--norm);
    color: var(--light);
    border-radius: 18px;
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 0px 5px;
    transition: var(--trans);
}

body.cacao .cacaoBar .tab.active {
    background-color: var(--dark);
    color: white;
}

body.cacao .cacaoBar .tab.new {
    background-color: var(--theme);
    color: var(--themeText);
    opacity: 0.8;
    height: 40px;
    width: 40px;
    padding: 0px;
    text-align: center;
}

body.cacao .cacaoBar .tab i {
    vertical-align: middle;
}

body.cacao .cacaoBar .tab:not(.icon) i {
    margin-right: 10px;
}

body.cacao .sidebar {
    top: 80px;
    border-top-right-radius: 15px;
}

body.cacao .header {
    padding-top: 150px;
}

body.cacao .classContent {
    padding-top: 350px;
}

@font-face {
    font-family: 'Material Icons Outline';
    font-style: normal;
    font-weight: 400;
    src: url(outline.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons Outline';
}

.fc-today {
    border-radius: 5px;
    background: var(--theme) !important;
    color: var(--themeText) !important;
}

table {
    border-collapse: collapse;
}

th, td {
    border-color: var(--secText);
}

body.dark .classGradeCircle {
    background-color: var(--norm);
    -webkit-text-fill-color: var(--light);
    color: var(--light);
}

body:not(.dark) .classGradeCircle {
    background-color: var(--light);
    -webkit-text-fill-color: var(--norm);
    color: var(--norm);
}

.infoChip {
    vertical-align: middle;
    margin: 0px;
    display: inline-block;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
}

.assignmentChip {
    padding: 5px 10px;
    background-color: var(--elements);
    display: inline-block;
    border-radius: 20px;
    line-height: 24px;
    margin: 0px 2px;
}

.assignmentChip i {
    vertical-align: middle;
}

.progressBar {
    padding: 5px;
    background-color: var(--elements);
    border-radius: 12px;
    height: 30px;
    margin: 10px 5px;
    cursor: pointer;
}

.progressLabel {
    position: absolute;
    z-index: 5;
    color: var(--themeText);
}

.progress {
    height: 32px;
    background-color: var(--theme);
    margin: -6px;
    border-radius: 12px;
    position: absolute;
}

.progressBar.big {
    height: 50px;
    padding: 10px;
}

.progressBar.big .progressLabel {
    height: 32px;
    line-height: 32px;
    font-size: 18px;
}

.progressBar.big .progress {
    height: 42px;
}

.floatingIcon {
    float: right;
    margin-top: 40px;
    font-size: 18px;
}

.infoChip i {
    vertical-align: middle;
    font-size: 20px;
}

.dash.cal #calendar, .dash.cal .announcement {
    margin: 25px;
    width: 100%;
}

#id_email, #id_name {
    display: none !important;
}

body.darkDtech {
    --flex-light: #bb4a2d; --flex-bg: #a73a21; --flex-text: white; --flex-sectext: #ffb6a3; --flex-layer1: #da5332; --flex-layer2: #923923; --flex-layer3: #6f2715; --theme-color: #f2896f; --theme-color-outline: rgb(242, 137, 111, 0.75); --theme-text-color: #af4125; }

.dash.cal .announcement {
    margin-right: 0px;
}

.fc-widget-content {
    border-radius: 5px;
}

body.isolatedGoogleClass .header .btns {
    display: none !important;
}

body.isolatedGoogleClass .background {
    background: linear-gradient(to right bottom, rgb(177, 168, 35), rgb(8, 101, 59)) !important;
}

.fc-event {
    cursor: pointer !important;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border: none !important;
}

@media (min-width: 1001px) {
    .card.focus {
        max-height: calc(100vh - 50px);
        top: 25px !important;
    }
}

#calendar h2 {
    font-size: 40px;
}

.fc .fc-button-group>* {
    background: none;
    box-shadow: none;
    border: none;
}

.fc .fc-button-group>* {
    color: var(--text);
}

.announcement .label {
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: -15px;
    background-color: var(--light);
    color: var(--dark);
    padding: 3px 6px;
    border-radius: 20px;
    line-height: 18px;
}

.announcement:not(.open) {
    max-height: 200px;
}

.announcement {
    overflow: hidden;
}

.announcement a {
    color: var(--dark);
    opacity: 0.6;
}

body {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.sidenav .item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidenav .item i {
    margin-right: 10px;
}

.class {
    border: none;
    padding: 0px;
    opacity: 0.95;
    display: inline-block;
    border-radius: 15px;
    padding-right: 0px;
    padding-left: 10px;
    overflow: hidden;
    color: white;
    font-size: 18px;
    cursor: pointer;
    line-height: 50px;
    width: 250px;
    height: 50px;
    margin: 5px 0;
    transition: background-color 0.5s;
}

.class .grade:not(:hover) .points, .class .grade:hover .letter {
    display: none;
}

.class.whatif .letter {
    display: none;
}

.class.whatif .points {
    display: inline !important;
}

.label i {
    vertical-align: middle;
}

.class .grade {
    float: right;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    vertical-align: middle;
    border-radius: 10px;
    opacity: 0.9;
}

.search, .classContent i.inputIcon {
    margin: 15px 75px 0px 10px !important;
}

.dash.stream .search, .classContent .dash.stream i.inputIcon {
    margin: 15px 25px 0px 10px !important;
}

.classContent .assignmentPicker .btn.active {
    background: #7b7b7b45 !important;
    color: inherit !important;
}

.class .dot {
    position: absolute;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    right: -18;
    margin-top: -15px;
    border-radius: 20px;
    background-color: var(--light);
    font-weight: bold;
    color: white;
    vertical-align: middle;
    text-align: right;
}

.class.active .dot {
    background-color: var(--dark);
    color: white;
}

.class .dot i {
    margin-right: 5px;
    vertical-align: middle;
    font-weight: normal;
    font-size: 18px;
}

.class .dot.num {
    width: 30px;
    text-align: center;
}

.card .dot {
    right: 0;
    background-color: #e9e8e8;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    height: 35px;
    padding: 0px 10px;
    line-height: 35px;
    font-size: 20px;
}

body.dark .card .dot {
    background-color: #181b1d;
}

body.titlebar .sidebar {
    position: fixed;
    top: 75;
}

.class .grade .letter, .class .grade .points , .class .grade .material-icons {
    line-height: 50px;
}

.class .grade .letter {
    font-weight: bold;
}

.classDivider {
    display: inline-block;
    width: 250px;
    height: 2px;
    border-radius: 10px;
    background-color: transparent;
    margin: 15px 0;
}

.hidegrades .class .grade.val {
    display: none !important;
}

.class .grade .letter {
    font-size: 24px;
}

.class .grade .points {
    font-size: 12px;
}

.class .grade i {
    font-size: 32px;
}

.class.active {
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17);
}

.class .name {
    width: 180px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    visibility: visible;
    height: 100%;
    min-height: 100vh;
    width: 275px;
    padding-left: 10px;
    padding-top: 25px;
    z-index: 5;
    position: absolute;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.17);
}

.sidebar, .abtheader {
    background-color: var(--nav);
}

body.noSidebar .sidebar {
    display: none;
    visibility: hidden;
}

body.noSidebar .header {
    width: 100%;
    margin-left: 0px;
}

body.titlebar .background, body.titlebar .cover.image {
    position: fixed;
    height: 75px;
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

body.titlebar .header {
    padding: 0px;
    z-index: 10;
    text-align: left;
}

body.titlebar .classContent {
    z-index: 1;
    padding-top: 100px;
}

body.noSidebar .classContent {
    margin-left: 0px;
    width: 100%;
}

body.titlebar .header h1 {
    font-size: 40px;
    line-height: 75px;
    display: inline-block;
    margin: 0px;
    margin-left: 25px;
    position: fixed;
    left: 0px;
    z-index: 200;
}

body.titlebar .header .btns {
    margin-top: 30px;
    position: fixed;
    margin-left: calc(50% - 175px)
}

body.titlebar:not(.noSidebar) .header .btns {
    margin-left: calc(50% - 525px);
}

.classContent {
    margin-left: 275px;
    padding-top: 300px;
    z-index: 100;
    top: 0;
    width: calc(100% - 275px);
}

body.titlebar .classContent {
    position: absolute;
    top: 0;
    margin-top: 321px;
}

.tabs.btns {
    padding: 0px;
    background-color: transparent !important;
}

.tabs.btns .btn {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #cacaca;
    border-radius: 0px !important;
    font-weight: normal;
    letter-spacing: normal;
}

.tabs.btns .btn:not(.active) {
    color: var(--light, #cacaca) !important;
}

.tabs.btns .btn.active {
    font-size: 18px;
    color: var(--text) !important;
    border-color: var(--text) !important;
    border-bottom: 2px solid white !important;
}

body:not(.dark) .tabs.btns .btn:not(.active), body.midnight.dark .tabs.btns .btn:not(.active) {
    color: var(--norm, var(--secText)) !important;
}

body.dark .tabs.btns .btn:not(.active) {
    color: var(--light, var(--secText)) !important;
}

.sidebar, .header {
    transition: all 0.5s;
}

.dot {
    display: none;
}

.background, .cover.image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
}

.background {
    filter: blur(10px);
}

.header {
    margin-left: 275px;
    text-align: center;
    color: white;
    padding-top: 100px;
    z-index: 200;
    position: absolute;
    top: 0;
    width: calc(100% - 275px);
}

.classContent .card {
    margin: 25px 75px;
    text-align: left;
    border-radius: 30px;
}

.classContent .card {
    color: var(--text);
}

.card i.close {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
    margin: 25px;
}

#headText {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 40px auto;
    background-color: var(--secText);
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.classContent .card .points {
    float: right;
    position: absolute;
    display: inline-block;
    right: 25px;
    white-space:nowrap;
}

.classContent .card .points.spinner {
    top: 25px;
    margin-top: 0px;
}

.classContent .card .points .earned {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
}

.classContent .card .points .total {
    font-size: 14px;
    display: inline-block;
    color: var(--secText);
}

.classContent .card:not(.color) .points .total, .assignment:not(.color) .weighted {
    color: var(--secText);
}

.assignment .weighted {
    color: var(--secText);
    font-size: 0.9rem;
}

.assignment .weighted i {
    font-size: 20px !important;
    margin-top: -3px;
}

.weight.parent .weight {
    padding: 10px !important;
    overflow: auto;
    margin: 10px 75px !important;
    transition: height 0.4s;
}

.weight.parent .weight.open {
    height: 400px !important;
}

.weight.parent .weight:not(.open) .open, .weight.parent .weight.open .close {
    display: none !important;
}

.weight .close p {
    margin: 0px !important;
    cursor: pointer;
}

.weight.parent .weight h4 {
    cursor: pointer;
}

.weight.parent .weight p {
    color: gray !important;
}

.weight.parent .weight:not(.open) {
    overflow: hidden !important;
}

.badge i {
    vertical-align: middle;
    font-size: 20px;
}

.dash.stream .card {
    margin-right: 25px;
}

.badge.missing {
    color: #b7630a;
    border-color: #b7630a;
}

.badge.dev {
    color: #0090ff;
    background-color: transparent !important;
    margin: 0px !important;
}

.badge.sudo {
    color: #d64c0c;
    background-color: transparent !important;
    margin: 0px !important;
}

.badge.marketer {
    color: var(--secText);
    background-color: transparent !important;
    margin: 0px !important;
}

.badge.contributor {
    color: #20da61;
    background-color: transparent !important;
    margin: 0px !important;
}

.weight.parent {
    padding: 0px !important;
    overflow: visible;
    margin-bottom: 100px;
}

.card .weight p {
    color: var(--secText) !important;
}

.card.gb {
    padding: 0 !important;
}

.assignment .weighted i {
    vertical-align: middle;
    font-size: 24px;
}

.classContent .card.color .points .total {
    color: var(--light);
}

.classContent .card.color .floatingIcon {
    color: var(--light) !important;
}

.card.details fieldset, .card.details #tb_handin_link, .card.details div.p, .card.details label {
    display: none;
}

.card.assignment {
    cursor: pointer;
    padding: 20px 30px;
}

.classContent .card.assignment h5 {
    font-size: 1rem !important;
    min-height: 20px;
}

.classContent .card.assignment h4 {
    margin-bottom: 5px;
    font-size: 1.25rem;
    margin-top: 0px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0px;
    overflow: hidden;
}

.classContent .card.assignment.nograde h4 {
    margin: 1.14rem 0 .912rem 0 !important;
}

.classContent .card.assignment.graded h4 {
    width: calc(100% - 125px);
}

.class.active .name {
    font-weight: bold;
}

body:not(.dark) {
    --light: var(--flex-light, #efefef); --norm: var(--flex-layer1, #929292); --dark: var(--flex-layer3, #5f5f5f); --grad: linear-gradient(to bottom right, var(--cards), var(--background)); }

body.dark {
    --light: var(--flex-light, #949494); --norm: var(--flex-layer1, #444444); --dark: var(--flex-layer3, #292929); --grad: linear-gradient(to bottom right, var(--cards), var(--background)); }

body:not(.dark) .background, body:not(.dark) .header h1 {
    --grad: linear-gradient(to bottom right, var(--darker), var(--background)) !important; color: black !important;
}

.filter_0 {
    --light: #f34848; --norm: #ab3030; --dark: #650808; --grad: linear-gradient(to bottom right, #f34848, #650808); }

.filter_1 {
    --light: #ff8e37; --norm: #b95425; --dark: #863109; --grad: linear-gradient(to bottom right, #ff8e37, #863109); }

.filter_2 {
    --light: #ffe672; --norm: #c3a51c; --dark: #675b0e; --grad: linear-gradient(to bottom right, #ffe672, #716307); }

.filter_3 {
    --light: #70d070; --norm: #136d2a; --dark: #044013; --grad: linear-gradient(to bottom right, #70d070, #044013); }

.filter_4 {
    --light: #4cb4ea; --norm: #0d6a9a; --dark: #032f46; --grad: linear-gradient(to bottom right, #4cb4ea, #032f46); }

.filter_5 {
    --light: #f091ff; --norm: #9446a0; --dark: #44114c; --grad: linear-gradient(to bottom right, #f091ff, #44114c); }

.filter_6 {
    --light: #ffa3d0; --norm: #c15689; --dark: #6b2044; --grad: linear-gradient(to bottom right, #ffa3d0, #6b2044); }

.filter_7 {
    --light: #b59785; --norm: #584a41; --dark: #382c24; --grad: linear-gradient(to bottom right, #b59785, #382c24); }

.filter_8 {
    --light: #fbd287; --norm: #94763d; --dark: #5d410c; --grad: linear-gradient(to bottom right, #fbd287, #5d410c); }

.filter_9 {
    --light: #d3f1ac; --norm: #81926a; --dark: #434a39; --grad: linear-gradient(to bottom right, #d3f1ac, #434a39); }

.filter_10 {
    --light: #bfe8ff; --norm: #768c98; --dark: #435158; --grad: linear-gradient(to bottom right, #bfe8ff, #435158); }

.filter_11 {
    --light: #d9c5ff; --norm: #7c748c; --dark: #4a4554; --grad: linear-gradient(to bottom right, #d9c5ff, #4a4554); }

.filter_20 {
    --light: #e64c81; --norm: #bb2f5f; --dark: #751636; --grad: linear-gradient(to bottom right, #e64c81, #751636); }

.filter_21 {
    --light: #c9d63b; --norm: #88920f; --dark: #525808; --grad: linear-gradient(to bottom right, #c9d63b, #525808); }

.background, .cover.image {
    background-size: 100%;
    position: absolute;
    z-index: -90;
}

.background:before {
    border-radius: inherit;
    background: var(--grad);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -100;
    transition: all 0.5s ease-in-out;
}

body:not(.dashboard) .background:before {
    background: linear-gradient(to right bottom, var(--light), var(--background)) !important;
}

body.midnight:not(.dashboard) .background:before {
    background: linear-gradient(to right bottom, var(--dark), var(--background)) !important;
}

.background.trans:before {
    opacity: 1;
    transition: all 0.5s;
}

.card.color {
    background: linear-gradient(to right bottom, var(--light), var(--norm));
    color: white !important;
}

.card.color .weighted {
    color: var(--dark);
    opacity: 0.55;
}

.class {
    border-color: var(--dark);
    background-color: var(--norm);
}

.class .grade {
    color: var(--light);
    background-color: var(--dark);
}

.class.active {
    border-color: var(--light);
    background-color: var(--dark);
}

.class.active .grade {
    color: var(--dark);
    background-color: var(--light);
}

body:not(.dev) .dev, body:not(.sudo) .sudo, body:not(.contributor) .contributor, body:not(.prerelease) .prerelease, body:not(.marketer) .marketer {
    display: none !important;
}

body.titlebar .items {
    display: none !important;
}

.items {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
    color: white;
    padding-right: 10px;
    z-index: 300;
}

body:not(.dark) .items, body:not(.dark) .items i, body:not(.dark) .items h4 {
    color: black !important;
}

body:not(.dark) .header h1 {
    color: black !important;
}

body:not(.dark) .items.black, body:not(.dark) .items.black i, body:not(.dark) .items.black h4 {
    color: black !important;
}

.items h4 {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    margin-right: 15px;
}

.items i {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 3px;
}

.item.link {
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 10px;
}

.item.link i {
    vertical-align: middle;
    margin-right: 10px;
}

.item.link span {
    vertical-align: middle;
}

.earned.outcomes {
    height:20px;
    text-align:right;
    writing-mode: vertical-rl;
    line-height:0px;
    font-size:0px !important;
    white-space: normal;
}
.earned.outcomes .outcome {
    background-color:var(--text);
    display: inline-block;
    vertical-align: middle;
    width:7px;
    height:7px;
    border-radius:50%;
    margin: 1px;
}

.earned.outcomes .outcome.score1 {
    background-color:#b90000;
}

.earned.outcomes .outcome.score2 {
    background-color:#cc8400;
}

.earned.outcomes .outcome.score3 {
    background-color:#b5b500;
}

.earned.outcomes .outcome.score4 {
    background-color:#007700;
}
