@font-face {
  font-family: 'Material Icons Outline';
  font-style: normal;
  font-weight: 400;
  src: url(outline.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons Outline';
}
body.dark .fc-today {
	background-color: #181b1d !important;
}
body.dark .list {
	background-color: #191919 !important;
}
body.isolatedGoogleClass .header .btns {
	display: none !important;
}
body.isolatedGoogleClass .background {
	background: linear-gradient(to right bottom, rgb(177, 168, 35), rgb(8, 101, 59)) !important;
}
body:not(.dark) .list {
	background-color: #eaeaea !important;
}
.fc-event {
	cursor: pointer !important;
}
.card.focus {
	max-height: calc(100vh - 50px);
}
#calendar h2 {
	font-size: 40px;
}
.fc .fc-button-group>* {
	background: none;
}
body:not(.dark) .fc .fc-button-group>* {
	border-color: #e6e6e6;
}
body.dark .fc .fc-button-group>* {
	border-color: #484848;
	color: white;
}
.announcement .label {
	position: absolute;
  	right: 0;
    	margin-right: 15px;
    	margin-top: -10px;
 	background-color: var(--light);
 	color: var(--dark);
 	padding: 3px 6px;
   	border-radius: 20px;
}
.announcement:not(.open) {
	max-height: 200px;
	overflow: hidden;
}
body {
	position: relative;
	height: 100%;
	min-height: 100vh;
}
.sidenav .item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sidenav .item i {
	margin-right: 10px;
}
.class {
	border: none;
	padding: 0px;
	opacity: 0.95;
	display: inline-block;
	border-radius: 15px;
	padding-right: 0px;
	padding-left: 10px;
	overflow: hidden;
	color: white;
	font-size: 18px;
	cursor: pointer;
	line-height: 50px;
	width: 250px;
	height: 50px;
	margin: 5px 0;
	transition: background-color 0.5s;
}
.class .grade:not(:hover) .points, .class .grade:hover .letter {
	display: none;
}
.label i {
	vertical-align: middle;
}
.class .grade {
	float: right;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	margin-left: 10px;
	vertical-align: middle;
	border-radius: 10px;
	opacity: 0.9;
}
.search {
	 margin: 15px 75px 0px 10px !important;
}
.dash.stream .search {
	 margin: 15px 25px 0px 10px !important;
}
.class .dot {
    position: absolute;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
	right: -18;
	margin-top: -15px;
	border-radius: 20px;
	background-color: var(--light);
	font-weight: bold;
	color: white;
	vertical-align: middle;
	text-align: right;
}
.class.active .dot {
	background-color: var(--dark);
	color: white;
}
.class .dot i {
	margin-right: 5px;
	vertical-align: middle;
	font-weight: normal;
	font-size: 18px;
}
.class .dot.num {
	width: 30px;
	text-align: center;
}
.card .dot {
	right: 0;
	background-color: #e9e8e8;
	border-radius: 20px;
	display: inline-block;
	position: absolute;
	margin-top: 10px;
	height: 35px;
	padding: 0px 10px;
	line-height: 35px;
	font-size: 20px;
}
body:not(.letterGrades) .points:hover .numbers {
	display: none !important;
}
body:not(.letterGrades) .points:not(:hover) .letters {
	display: none !important;
}
.points:not(:hover) .percentage {
	display: none !important;
}
.points:hover .possible {
	display: none !important;
}
body.letterGrades .points:not(:hover) .numbers {
	display: none !important;
}
body.letterGrades .points:hover .letters {
	display: none !important;
}
body.dark .card .dot {
	background-color: #181b1d;
}
body.titlebar .sidebar {
	position: fixed;
	top: 75;
}
body.dark .spinner > div {
	background-color: #bbb;
}
.class .grade .letter, .class .grade .points , .class .grade .material-icons {
	line-height: 50px;
}
.class .grade .letter {
	font-weight: bold;
}
.classDivider {
	display: inline-block;
	width: 250px;
	height: 2px;
	border-radius: 10px;
	background-color: transparent;
	margin: 15px 0;
}
.hidegrades .class .grade.val {
	display: none !important;
}
.class .grade .letter {
	font-size: 24px; 
}
.class .grade .points {
	font-size: 12px;
}
.class .grade i {
	font-size: 32px;
}
.class.active {
	border: none;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17);
}
.class .name {
	width: 180px;
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sidebar {
	visibility: visible;
	height: 100%;
	min-height: 100vh;
	width: 275px;
	padding-left: 10px;
	padding-top: 25px;
	z-index: 5;
	position: absolute;
	box-shadow: 0 20px 60px rgba(0, 0, 0, 0.17);
}
body:not(.dark) .sidebar, body:not(.dark) .abtheader {
	background-color: #f1f1f1;
}
body.dark .sidebar, body.dark .abtheader {
	background-color: #232323;
}
body.dark.midnight .sidebar {
	background-color: #080808;
}
body.noSidebar .sidebar {
	display: none;
	visibility: hidden;
}
body.noSidebar .header {
	width: 100%;
	margin-left: 0px;
}
body.titlebar .background {
	position: fixed;
	height: 75px;
	z-index: 10;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
body.titlebar .header {
	padding: 0px;
	z-index: 10;
	text-align: left;
}
body.titlebar .classContent {
	z-index: 1;
	padding-top: 100px;
}
body.noSidebar .classContent {
	margin-left: 0px;
	width: 100%;
}
body.titlebar .header h1 {
	font-size: 40px;
	line-height: 75px;
	display: inline-block;
	margin: 0px;
	margin-left: 25px;
	position: fixed;
	left: 0px;
	z-index: 200;
}
body.titlebar .header .btns {
	margin-top: 30px;
	position: fixed;
	margin-left: calc(50% - 175px)
}
body.titlebar:not(.noSidebar) .header .btns {
	margin-left: calc(50% - 525px);
}
.classContent {
	margin-left: 260px;
    padding-top: 300px;
    z-index: 100;
    top: 0;
    width: calc(100% - 250px);
}
body.titlebar .classContent {
	position: absolute;
	top: 0;
	margin-top: 321px;
}
.tabs.btns {
	padding: 0px;
	background-color: transparent !important;
}
.tabs.btns .btn {
	background-color: transparent !important;
	box-shadow: none !important;
	color: #cacaca;
	border-radius: 0px !important;
}
.tabs.btns .btn:not(.active) {
	color: var(--light, #cacaca) !important;
}
.tabs.btns .btn.active {
	color: white;
	border-bottom: 1px solid white;
}
.sidebar, .header {
	transition: all 0.5s;
}
.dot {
	display: none;
}
.background {
	position: absolute;
	top: 0;
	width: 100%;
	height: 500px;
}
.header {
	margin-left: 260px;
	text-align: center;
	color: white;
	padding-top: 100px;
	z-index: 200;
	position: absolute;
	top: 0;
	width: calc(100% - 250px);
}
.classContent .card {
	margin: 25px 75px;
	text-align: left;
	border-radius: 30px;
}
body:not(.dark) .classContent .card {
	color: black;
}
body.dark .classContent .card {
	color: white;
}
.card i.close {
	position: absolute;
    right: 0;
	cursor: pointer;
    top: 0;
    margin: 25px;
}
#headText {
   -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.classContent .card .points {
	float: right;
	position: absolute;
	display: inline-block;
	right: 25px;
}
.classContent .card .points.spinner {
	top: 25px;
	margin-top: 0px;
}
.classContent .card .points .earned {
	font-size: 24px;
	display: inline-block;
	font-weight: bold;
}
.classContent .card .points .total {
	font-size: 14px;
	margin-top: 15px;
	display: inline-block;
	color: #8e8e8e;
}
.assignment .weighted {
	color: #8e8e8e;
	font-size: 0.9rem;
	margin-left: 10px;
}
.weight.parent .weight {
	padding: 10px !important;
	overflow: auto;
	margin: 10px 75px !important;
	transition: height 0.4s;
}
.weight.parent .weight.open {
	height: 400px !important;
}
.weight.parent .weight:not(.open) .open, .weight.parent .weight.open .close {
	display:none !important;
}
.weight .close p {
	margin: 0px !important;
	cursor: pointer;
}
.weight.parent .weight h4 {
	cursor: pointer;
}
.weight.parent .weight p {
	color: gray !important;
}
.weight.parent .weight:not(.open) {
	overflow: hidden !important;
}
.badge, .beta.notice {
	display: inline-block;
	margin: 0 10px;
	border: none;
	padding: 3px 6px;
	color: white !important;
	background-color: #ff7e00;
}
.badge i, .beta.notice i {
	vertical-align: middle;
}
.beta.notice.turnin {
	color: white;
	border-color: #0bb75b;
	background-color: #0bb75b;
}
.beta.notice.turnin i {
	font-size: 18px;
}
.dash.stream .card {
	margin-right: 25px;
}
.beta.notice.missing {
	color: #b7630a;
	border-color: #b7630a;
}
.badge.dev {
	background-color: #0090ff;
}
.badge.sudo {
	background-color: #d64c0c;
}
.badge.og {
	background-color: #daa520;
}
.badge.contributor {
	background-color: #20da61;
}
.weight.parent {
	padding: 0px !important;
	overflow: visible;
	margin-bottom: 100px;
}
.card .weight p {
	color: #5f5f5f !important;
}
.card.gb {
	padding: 0 !important;
}
.assignment .weighted i {
	vertical-align: middle;
	font-size: 24px;
}
.classContent .card.color .points .total {
	color: var(--light);
}
.card.details fieldset, .card.details #tb_handin_link, .card.details div.p, .card.details label {
	display:none;
}
body.dark .card.details * {
	color: white !important;
}
.card.assignment {
	cursor: pointer;
	padding: 20px 30px;
}
.classContent .card.assignment h5 {
	font-size: 1rem !important;
}
.classContent .card.assignment h4 {
	margin-bottom: 5px;
	font-size: 1.25rem;
	margin-top: 0px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0px;
    overflow: hidden;
}
.classContent .card.assignment.nograde h4 {
	margin: 1.14rem 0 .912rem 0 !important;
}
.classContent .card.assignment.graded h4 {
	width: calc(100% - 125px);
}
.class.active .name {
	font-weight: bold;
}
body.dark .class .name {
	color: #ececec;
}
body.dark .header:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11), body.dark .card:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11), body.dark .card .weight:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11), body.dark .background:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11), body.dark .class:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11) {
    --light: #7d7d7d;
    --norm: #383838;
    --dark: #101010;
    --grad: linear-gradient(to right bottom, #3e3e3e, #2C2F33);
}
body:not(.dark) .header:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11), body:not(.dark) .card:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11), body:not(.dark) .card .weight:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11), body:not(.dark) .background:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11), body:not(.dark) .class:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11) {
    --light: #d4d4d4;
    --norm: #a7a7a7;
    --dark: #676767;
    --grad: linear-gradient(to bottom right, #d4d4d4, #676767);
}
body:not(.dark) .background:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11), body:not(.dark) .header:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11) h1 {
    --grad: linear-gradient(to bottom right, #d6d6d6, white) !important;
    color: black !important;
}
.background.filter_0, .class.filter_0, .card.filter_0, .card .weight.filter_0, .header.filter_0 {
    --light: #f34848;
    --norm: #ab3030;
    --dark: #650808;
    --grad: linear-gradient(to bottom right, #f34848, #650808);
}
.background.filter_1, .class.filter_1, .card.filter_1, .card .weight.filter_1, .header.filter_1 {
    --light: #ff8e37;
    --norm: #b95425;
    --dark: #863109;
    --grad: linear-gradient(to bottom right, #ff8e37, #863109);
}
.background.filter_2, .class.filter_2, .card.filter_2, .card .weight.filter_2, .header.filter_2 {
    --light: #ffe672;
    --norm: #c3a51c;
    --dark: #675b0e;
    --grad: linear-gradient(to bottom right, #ffe672, #716307);
}
.background.filter_3, .class.filter_3, .card.filter_3, .card .weight.filter_3, .header.filter_3 {
    --light: #70d070;
    --norm: #136d2a;
    --dark: #044013;
    --grad: linear-gradient(to bottom right, #70d070, #044013);
}
.background.filter_4, .class.filter_4, .card.filter_4, .card .weight.filter_4, .header.filter_4 {
    --light: #4cb4ea;
    --norm: #0d6a9a;
    --dark: #032f46;
    --grad: linear-gradient(to bottom right, #4cb4ea, #032f46);
}
.background.filter_5, .class.filter_5, .card.filter_5, .card .weight.filter_5, .header.filter_5 {
    --light: #f091ff;
    --norm: #9446a0;
    --dark: #44114c;
    --grad: linear-gradient(to bottom right, #f091ff, #44114c);
}
.background.filter_6, .class.filter_6, .card.filter_6, .card .weight.filter_6, .header.filter_6 {
    --light: #ffa3d0;
    --norm: #c15689;
    --dark: #6b2044;
    --grad: linear-gradient(to bottom right, #ffa3d0, #6b2044);
}
.background.filter_7, .class.filter_7, .card.filter_7, .card .weight.filter_7, .header.filter_7 {
    --light: #b59785;
    --norm: #584a41;
    --dark: #382c24;
    --grad: linear-gradient(to bottom right, #b59785, #382c24);
}
.background.filter_8, .class.filter_8, .card.filter_8, .card .weight.filter_8, .header.filter_8 {
    --light: #fbd287;
    --norm: #94763d;
    --dark: #5d410c;
    --grad: linear-gradient(to bottom right, #fbd287, #5d410c);
}
.background.filter_9, .class.filter_9, .card.filter_9, .card .weight.filter_9, .header.filter_9 {
    --light: #d3f1ac;
    --norm: #81926a;
    --dark: #434a39;
    --grad: linear-gradient(to bottom right, #d3f1ac, #434a39);
}
.background.filter_10, .class.filter_10, .card.filter_10, .card .weight.filter_10, .header.filter_10 {
    --light: #bfe8ff;
    --norm: #768c98;
    --dark: #435158;
    --grad: linear-gradient(to bottom right, #bfe8ff, #435158);
}
.background.filter_11, .class.filter_11, .card.filter_11, .card .weight.filter_11, .header.filter_11 {
    --light: #d9c5ff;
    --norm: #7c748c;
    --dark: #4a4554;
    --grad: linear-gradient(to bottom right, #d9c5ff, #4a4554);
}
.background {
  background-size: 100%;
  position: absolute;
  z-index: -90;
}
.background:before {
    border-radius: inherit;
    background: var(--grad);
    content: '';    
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
   z-index: -100;
    transition: all 0.5s ease-in-out;
  }
body:not(.dark).faded .background:before {
	background: linear-gradient(to right bottom, var(--light), var(--flex-bg, white)) !important;
}
body.dark.faded .background:before {
	background: linear-gradient(to right bottom, var(--dark), var(--flex-bg, #2C2F33)) !important;
}
.background.trans:before {
       opacity: 1; 
    transition: all 0.5s;
}
.card.color {
	background: var(--grad);
	color: white !important;
}
.card.color .weighted {
	color: var(--dark);
}
.class {
	border-color: var(--dark);
	background-color: var(--norm);
}
.class .grade {
	color: var(--light);
	background-color: var(--dark);
}
.class.active {
	border-color: var(--light);
	background-color: var(--dark);
}
.class.active .grade {
	color: var(--dark);
	background-color: var(--light);
}

body:not(.dev) .dev, body:not(.sudo) .sudo, body:not(.og) .og, body:not(.contributor) .contributor {
	display: none !important;
}

body.titlebar .items {
	display: none !important;
}
.items {
	position: absolute;
	right:0;
	top: 0;
	margin: 15px;
	color: white;
	padding-right: 10px;
	z-index: 300;
}
body.faded:not(.dark) .items, body.faded:not(.dark) .items i, body.faded:not(.dark) .items h4 {
	color: black !important;
}
body.faded:not(.dark) .header h1 {
	color: black !important;
}
body.faded:not(.dark) .tabs.btns .btn.active {
	color: black !important;
	border-color: black !important;
}
body.faded .tabs.btns .btn:not(.active) {
	color: var(--norm, gray) !important;
}
.items.black, .items.black i, .items.black h4 {
	color: black !important;
}
.items h4 {
	vertical-align: middle;
	display: inline-block;
	margin: 0;
	margin-right: 15px;
}
.items i {
	cursor: pointer;
	vertical-align: middle;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 3px;
}
.item.link {
	font-size: 20px;
	cursor: pointer;
	margin-top: 10px;
	padding-left: 10px;
}
.item.link i {
	vertical-align: middle;
	margin-right: 10px;
}
.item.link span {
	vertical-align: middle;
}
