.class {
	opacity: 0.9;
	display: inline-block;
	border-radius: 30px;
	padding: 5px 15px;
	color: white;
	font-size: 18px;
	cursor: pointer;
	border: 2px solid #424242;
	line-height: 50px;
	width: 250px;
	height: 62px;
	margin: 10px 0;
	transition: background-color 0.5s;
}
.class .grade:not(:hover) .points, .class .grade:hover .letter {
	display: none;
}
.class .grade {
	float: right;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	margin-left: 10px;
	vertical-align: middle;
	border-radius: 50%;
	opacity: 0.9;
}
.class .grade .letter, .class .grade .points , .class .grade .material-icons {
	line-height: 50px;
}
.classDivider {
	display: inline-block;
	width: 250px;
	height: 2px;
	border-radius: 10px;
	background-color: transparent;
	margin: 15px 0;
}
.class .grade .letter {
	font-size: 24px; 
}
.class .grade .points {
	font-size: 12px;
}
.class .grade i {
	font-size: 32px;
}
.class.active {
	border: 2px solid #a3a3a3;
}
.class .label {
	width: 156px;
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sidebar {
	width: 250px;
	padding-left: 10px;
	padding-top: 25px;
	z-index: 5;
	position: absolute;
}
.background {
	position: absolute;
	top: 0;
	width: 100%;
	height: 500px;
	border-radius: 0px 0px 25px 25px;
}
.background .header {
	margin-left: 260px;
	text-align: center;
	color: white;
	padding-top: 100px;
}
.header .card {
	margin: 25px 75px;
	text-align: left;
	border-radius: 30px;
}
body:not(.dark) .header .card {
	color: black;
}
body.dark .header .card {
	color: white;
}
#headText {
   -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.header .card .points {
	float: right;
	position: absolute;
	display: inline-block;
	right: 25px;
}
.header .card .points.spinner {
	top: 25px;
	margin-top: 0px;
}
.header .card .points .earned {
	font-size: 32px;
	display: inline-block;
}
.header .card .points .total {
	font-size: 18px;
	margin-top: 15px;
	display: inline-block;
	color: #8e8e8e;
}
.header .card.assignment h5 {
	font-size: 1.5rem !important;
}
.header .card.assignment h4 {
	margin-top: 0px !important;
}
.background:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11), .class:not(.filter_0):not(.filter_1):not(.filter_2):not(.filter_3):not(.filter_4):not(.filter_5):not(.filter_6):not(.filter_7):not(.filter_8):not(.filter_9):not(.filter_10):not(.filter_11) {
	--light: #a3a3a3;
	--norm: #777777;
	--dark: #424242;
	--grad: linear-gradient(to bottom right, #a3a3a3, #424242);
}
.background.filter_0, .class.filter_0 {
	--light: #FE4040;
	--norm: #e34b4b;
	--dark: #8A1010;
	--grad: linear-gradient(to bottom right, #FE4040, #8A1010);
}
.background.filter_1, .class.filter_1 {
	--light: #FD9920;
	--norm: #f5904c;
	--dark: #C45E19;
	--grad: linear-gradient(to bottom right, #FD9920, #C45E19);
}
.background.filter_2, .class.filter_2 {
	--light: #FAE52B;
	--norm: #d1c134;
	--dark: #A29417;
	--grad: linear-gradient(to bottom right, #FAE52B, #A29417);
}
.background.filter_3, .class.filter_3 {
	--light: #7CE57C;
	--norm: #519951;
	--dark: #165816;
	--grad: linear-gradient(to bottom right, #7CE57C, #165816);
}
.background.filter_4, .class.filter_4 {
	--light: #45AFE6;
	--norm: #517b91;
	--dark: #184760;
	--grad: linear-gradient(to bottom right, #45AFE6, #184760);
}
.background.filter_5, .class.filter_5 {
	--light: #CF66E0;
	--norm: #9442a1;
	--dark: #62136E;
	--grad: linear-gradient(to bottom right, #CF66E0, #62136E);
}
.background.filter_6, .class.filter_6 {
	--light: #FA9CCA;
	--norm: #d16f9e;
	--dark: #A84273;
	--grad: linear-gradient(to bottom right, #FA9CCA, #A84273);
}
.background.filter_7, .class.filter_7 {
	--light: #C4A18A;
	--norm: #8c705e;
	--dark: #6A4F3D;
	--grad: linear-gradient(to bottom right, #C4A18A, #6A4F3D);
}
.background.filter_8, .class.filter_8 {
	--light: #F7C872;
	--norm: #b8934d;
	--dark: #896216;
	--grad: linear-gradient(to bottom right, #F7C872, #896216);
}
.background.filter_9, .class.filter_9 {
	--light: #CDE9A7;
	--norm: #8fab6a;
	--dark: #6F7F5B;
	--grad: linear-gradient(to bottom right, #CDE9A7, #6F7F5B);
}
.background.filter_10, .class.filter_10 {
	--light: #CDE9F9;
	--norm: #7da1b5;
	--dark: #69808C;
	--grad: linear-gradient(to bottom right, #CDE9F9, #69808C);
}
.background.filter_11, .class.filter_11 {
	--light: #D3BCFE;
	--norm: #887aa3;
	--dark: #5D5373;
	--grad: linear-gradient(to bottom right, #D3BCFE, #5D5373);
}
.background {
	background: var(--grad);
}
.class {
	border-color: var(--dark);
	background-color: var(--norm);
}
.class .grade {
	color: var(--light);
	background-color: var(--dark);
}
.class.active {
	border-color: var(--light);
	background-color: var(--dark);
}
.class.active .grade {
	color: var(--dark);
	background-color: var(--light);
}
