.class {
	background-color: #777777;
	opacity: 0.9;
	display: inline-block;
	border-radius: 30px;
	padding: 5px 15px;
	color: white;
	font-size: 18px;
	cursor: pointer;
	border: 2px solid #424242;
	line-height: 50px;
	width: 250px;
	height: 62px;
	margin: 10px 0;
	transition: background-color 0.5s;
}
.class .grade:not(:hover) .points, .class .grade:hover .letter {
	display: none;
}
.class .grade {
	float: right;
	background-color: #424242;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	margin-left: 10px;
	vertical-align: middle;
	border-radius: 50%;
	opacity: 0.9;
}
.class .grade .letter, .class .grade .points , .class .grade .material-icons {
	line-height: 50px;
}
.classDivider {
	display: inline-block;
	width: 250px;
	height: 2px;
	border-radius: 10px;
	background-color: transparent;
	margin: 15px 0;
}
.class .grade .letter {
	font-size: 24px; 
}
.class .grade .points {
	font-size: 12px;
}
.class .grade i {
	font-size: 32px;
}
.class.active {
	background-color: #424242;
	border: 2px solid #a3a3a3;
}
.class.active .grade {
	background-color: #a3a3a3;
}
.class .label {
	width: 156px;
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sidebar {
	width: 250px;
	padding-left: 10px;
	padding-top: 25px;
	z-index: 5;
	position: absolute;
}
.background {
	position: absolute;
	top: 0;
	background: linear-gradient(to bottom right, #a3a3a3, #424242);;
	width: 100%;
	height: 500px;
	border-radius: 0px 0px 25px 25px;
}
.background .header {
	margin-left: 260px;
	text-align: center;
	color: white;
	padding-top: 100px;
}
.header .card {
	margin: 25px 75px;
	text-align: left;
	border-radius: 30px;
}
body:not(.dark) .header .card {
	color: black;
}
body.dark .header .card {
	color: white;
}
#headText {
   -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.header .card .points {
	float: right;
	position: absolute;
	display: inline-block;
	right: 25;
}
.header .card .points .earned {
	font-size: 32px;
	display: inline-block;
}
.header .card .points .total {
	font-size: 18px;
	margin-top: 15px;
	display: inline-block;
	color: #8e8e8e;
}
.header .card.assignment h5 {
	font-size: 1.5rem !important;
}
.header .card.assignment h4 {
	margin-top: 0px !important;
}
