/*
Power+ CSS
(c) jottocraft 2018-2020
*/

.dashboardItem {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--elements);
    background: var(--cards);
    cursor: move;
    margin: 10px;
    user-select: none; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboardColumn {
    vertical-align: top;
    display: inline-block;
    width: calc(50% - 20px);
    margin: 0px 5px;
    min-height: 100px;
    padding-bottom: 100px;
    padding-top: 25px;
}

.dashboardItem h5 span {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.dashboardItem i {
    vertical-align: middle;
}

.dashboardItem .compactModeSwitch {
    cursor: auto;
    margin-top: 20px;
}

.dashboardItem .compactModeSwitch .switch {
    text-align: left;
}

.btns.tabs .btn {
    transition: color 0.4s, font-size 0.4s !important;
}

.welcomeSection {
    margin: 50px 0px;
}

.welcomeSection h5 {
    font-weight: bold;
    font-size: 22px;
    margin: 0px;
    vertical-align: middle;
    display: inline-block;
}

.welcomeSection i {
    vertical-align: middle;
    margin-right: 5px;
}

.welcomeSection p {
    color: var(--lightText);
}

.dtpsSubmissionComment {
    margin: 32px 12px;
}

.dtpsSubmissionComment img {
    width: 34px;
    border-radius: 50%;
    vertical-align: middle;
}

.dtpsSubmissionComment h5 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 17px;
    color: var(--lightText);
}

.dtpsAssignmentRubricItem {
    margin: 32px 12px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: var(--lightShadow);
    background: var(--elements);
}

.dtpsAssignmentRubricItem:nth-child(1), .dtpsSubmissionComment:nth-child(1) {
    margin-top: 12px;
}

.dtpsAssignmentRubricItem h5 {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dtpsAssignmentRubricItem .score p {
    display: inline-block;
    margin: 0px;
}

.dtpsAssignmentRubricItem .score .scoreName {
    font-size: 16px;
    vertical-align: middle;
    font-weight: bold;
}

.dtpsAssignmentRubricItem .score .points {
    float: right;
    vertical-align: middle;
    display: inline-block;
}

.dtpsAssignmentRubricItem .score .points .earned {
    font-size: 22px;
    font-weight: bold;
}

.dtpsAssignmentRubricItem .score .points .possible {
    opacity: 0.5;
    font-size: 12px;
    vertical-align: bottom;
}

.dtpsRubricScore {
    height: 24px;
    display: inline-block;
}

.dtpsRubricScore div {
    display: inline-block;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
}

.discussionHeader {
    margin: 12px 0px;
    margin-bottom: 20px;
}

.discussionHeader h5 {
    display: inline-block; 
    vertical-align: middle;
    color: var(--lightText);
    font-size: 18px;
    margin: 0px;
}

.discussionHeader img {
    width: 28px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
}

.discussionHeader i {
    color: var(--secText);
    vertical-align: middle;
    margin-left: 20px;
    font-size: 16px;
}

.discussionHeader span {
    color: var(--secText);
    vertical-align: middle;
    margin-left: 5px;
    font-size: 14px;
}

.discussionFooter {
    margin-top: 22px;
}

.discussionReply {
    border-left: 2px solid var(--darker);
    padding: 10px 0px;
    padding-left: 30px;
}

.discussionReply h5 {
    font-size: 18px;
    color: var(--lightText);
}

.dash .card .colorBar {
    width: 7px;
    height: calc(100% - 40px);
    position: absolute;
    top: 20px;
    left: 14px;
    border-radius: 10px;
    display: block !important;
}

body.dark .dash .card .colorBar {
    background: var(--classColor);
}

body.light .dash .card .colorBar {
    background: var(--classColor);
}

.card .colorBar {
    display: none;
}

.announcement .className {
    color: var(--classColor);
    font-weight: bold;
    font-size: 16px;
}

.dropped {
    filter: opacity(0.4);
}

.dropped span.assessmentTitle {
    text-decoration: line-through;
}

/* POWERPOINTS THEME */
body.darkPowerpoints, body.showThemeWindows .themeWindow.darkPowerpoints {
    --flex-light: #b39a46; --flex-bg: #a78e3a; --flex-text: #ffffff; --flex-sectext: #e4d8ae; --flex-layer1: #867027; --flex-layer2: #726021; --flex-layer3: #5f4f1c; --theme-color: #6d6d6d; --theme-text-color: #b39a46; --links: #686868; --acrylic: black; }

.recentGrade.card {
    padding: 20px;
    cursor: pointer;
}

.recentGrade h5 {
    color: var(--classColor);
    display: flex;
    justify-content: space-between;
    margin: 0px;
    font-size: 18px;
}

.recentGrade h5 span {
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recentGrade p {
    margin: 0px;
    margin-top: 7px;
    color: var(--secText);
}

/* Fluid UI theme prefs */
:root {
    --icons: "Material Icons Outlined", "Material Icons Extended" !important; }

.blur * {
    pointer-events: none !important;
}

.numFont {
    font-family: Cascadia Code,Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace !important;
}

.classContent .card.collapsed {
    padding: 10px 20px;
}

.classContent .card.collapsed h4 {
    font-size: 24px !important;
    font-weight: normal !important;
}

.classContent .card.collapsed h4 i {
    margin-top: -6px;
}

.classContent .card.collapsed .moduleContents {
    display: none;
}

table.dtpsTable {
    border-collapse: collapse;
}

table.dtpsTable, table.dtpsTable * {
    border-color: transparent !important;
}

table.dtpsTable tr, table.dtpsTable td {
    height: 32px !important;
    padding: 0px;
}

table.dtpsTable th {
    padding-left: 0px;
    padding-right: 0px;
}

table.dtpsTable td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

table.dtpsTable td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.classGradeCircle {
    display: inline-block;
    height: 60px; 
    font-size: 40px; 
    text-align: right;
    line-height: 60px;
    border-radius: 50%;
    float: right;
    vertical-align: middle;
}

.classGradeCircle .percentage {
    color: var(--lightText);
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 20px;
}

.classGradeCircle .letter {
    color: var(--classColor);
    font-weight: bold;
    vertical-align: middle;
    width: 110px;
    text-align: center;
    display: inline-block;
}

.gradeStat {
    height: 60px; 
    line-height: 60px;
    color: var(--lightText); 
    font-size: 24px; 
    margin: 0px;
}

.smallStat {
    height: 40px; 
    line-height: 40px;
    color: var(--secText); 
    font-size: 20px; 
    margin: 5px 0px;
}

.gradeStat .numFont, .smallStat .numFont {
    display: inline-block; 
    width: 110px; 
    text-align: center; 
    height: 60px; 
    line-height: 60px; 
    border-radius: 50%; 
    float: right; 
    vertical-align: middle; 
    font-size: 26px; 
    color: var(--text); 
    font-weight: bold;
}

.smallStat .numFont {
    height: 40px; 
    line-height: 40px;
    font-size: 18px; 
    color: var(--lightText);
}

.numFont.fraction {
    font-size: 0px;
}

.numFont .earned {
    font-weight: bold;
    font-size: 14px;
}

.numFont .total {
    color: var(--secText);
    font-size: 12px;
}

.gradeTitle {
    margin-bottom: 10px; 
    height: 60px; 
    line-height: 60px; 
    margin-top: 0px; 
    font-weight: bold;
    font-size: 36px;
}

.infoChip {
    vertical-align: middle;
    margin: 0px 5px;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
	color: var(--lightText);
}

.infoChip:nth-child(1) {
    margin-left: 0px;
}

.assignmentChip {
    padding: 5px 10px;
    display: inline-block;
    border-radius: 20px;
    line-height: 24px;
    margin: 0px 2px;
    color: var(--lightText);
    vertical-align: middle;
}

.assignmentChip i {
    vertical-align: middle;
}

.assignmentChip span {
    margin-left: 7px;
    vertical-align: middle;
}

.progressBar {
    padding: 5px;
    background-color: var(--elements);
    border-radius: 12px;
    height: 30px;
    margin: 10px 5px;
    cursor: pointer;
}

.progressLabel {
    position: absolute;
    z-index: 5;
    color: var(--themeText);
}

.progressBar .progress {
    height: 32px;
    background-color: var(--theme);
    margin: -6px;
    border-radius: 12px;
    position: absolute;
}

.progressBar.big {
    height: 50px;
    padding: 10px;
}

.progressBar.big .progressLabel {
    height: 32px;
    line-height: 32px;
    font-size: 18px;
}

.progressBar.big .progress {
    height: 42px;
}

.infoChip i {
    vertical-align: middle;
    font-size: 18px;
}

.dash.cal .card {
    margin: 25px;
    width: 100%;
}

#id_email, #id_name {
    display: none !important;
}

body.darkDtech {
    --flex-light: #bb4a2d; --flex-bg: #a73a21; --flex-text: white; --flex-sectext: #ffb6a3; --flex-layer1: #da5332; --flex-layer2: #923923; --flex-layer3: #6f2715; --theme-color: #f2896f; --theme-color-outline: rgb(242, 137, 111, 0.75); --theme-text-color: #af4125; }

.dash.cal .announcement {
    margin-right: 0px;
}

body.isolatedGoogleClass .header .btns {
    display: none !important;
}

body.isolatedGoogleClass .background {
    background: linear-gradient(to right bottom, rgb(177, 168, 35), rgb(8, 101, 59)) !important;
}

@media (min-width: 1001px) {
    .card.focus {
        max-height: calc(100vh - 50px);
        top: 25px !important;
    }
}

.announcement:not(.open) {
    max-height: 200px;
}

.announcement {
    overflow: hidden;
}

body {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.sidenav .item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidenav .item i {
    margin-right: 10px;
}

.class.whatif .letter {
    display: none;
}

.class.whatif .points {
    display: inline !important;
}

.label i {
    vertical-align: middle;
}

.search, .classContent i.inputIcon {
    margin: 15px 75px 0px 10px !important;
}

.dash.stream .search, .classContent .dash.stream i.inputIcon {
    margin: 15px 25px 0px 10px !important;
}

.classContent .assignmentPicker .btn.active {
    background: #7b7b7b45 !important;
    color: inherit !important;
}

.class.active .dot {
    background-color: var(--dark);
    color: white;
}

.card .dot {
    right: 0;
    background-color: #e9e8e8;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    height: 35px;
    padding: 0px 10px;
    line-height: 35px;
    font-size: 20px;
}

body.dark .card .dot {
    background-color: #181b1d;
}

body.titlebar .sidebar {
    position: fixed;
    top: 75;
}

.sidebar .item .label {
    max-width: calc(100% - 40px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .item:not(.active) {
    filter: none !important;
}

body.dark .sidebar .item:not(.active) {
    filter: brightness(1.2) !important;
}

body.collapsedSidebar .sidebar .bigLogo {
    display: none;
}

.sidebar {
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.03) !important;
}

body.hasSidebar {
    padding: 0px !important;
}

.classDivider {
    display: inline-block;
    width: 250px;
    height: 2px;
    border-radius: 10px;
    background-color: transparent;
    margin: 15px 0;
}

.hidegrades .class .grade.val {
    display: none !important;
}

.class .icon {
    font-size: 20px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
}

.class.main:not(.active) {
    color: var(--lightText) !important;
    border-color: var(--secText) !important;
}

body.dark .class.main:not(.active), body.dark .class.overrideClass:not(.active) {
    color: #ffffffbf !important;
    border-color: #ffffff36 !important;
}

.class:not(.main):not(.active) {
    color: var(--classColor);
}

.class:not(.main).active {
    background-color: var(--classColor) !important;
    color: white !important;
}

.sidebar, .abtheader {
    background-color: var(--nav);
}

body.noSidebar .sidebar {
    display: none;
    visibility: hidden;
}

body.noSidebar .header {
    width: 100%;
    margin-left: 0px;
}

body.collapsedSidebar .header {
    width: calc(100% - 80px);
    margin-left: 80px;
}

body.titlebar .background, body.titlebar .cover.image {
    position: fixed;
    height: 75px;
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

body.titlebar .header {
    padding: 0px;
    z-index: 10;
    text-align: left;
}

body.titlebar .classContent {
    z-index: 1;
    padding-top: 100px;
}

body.noSidebar .classContent {
    margin-left: 0px;
    width: 100%;
}

body.collapsedSidebar .classContent {
    margin-left: 80px;
    width: calc(100% - 80px);
}

body.titlebar .header h1 {
    font-size: 40px;
    line-height: 75px;
    display: inline-block;
    margin: 0px;
    margin-left: 25px;
    position: fixed;
    left: 0px;
    z-index: 200;
}

body.titlebar .header .btns {
    margin-top: 30px;
    position: fixed;
    margin-left: calc(50% - 175px)
}

body.titlebar:not(.noSidebar) .header .btns {
    margin-left: calc(50% - 525px);
}

.classContent {
    margin-left: 275px;
    padding-top: 300px;
    z-index: 100;
    top: 0;
    width: calc(100% - 275px);
}

body.titlebar .classContent {
    position: absolute;
    top: 0;
    margin-top: 321px;
}

.tabs.btns {
    padding: 0px;
    background-color: transparent !important;
}

.tabs.btns .btn {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    color: var(--text);
    border-radius: 0px !important;
    font-size: 15px;
    border-bottom: 2px solid transparent !important;
    transition: color 0.2s, border-color 0.2s !important;
    opacity: 0.5;
    font-weight: normal;
}

.tabs.btns .btn.active {
    border-color: var(--text) !important;
    font-weight: bold;
    opacity: 1;
}

.tabs.btns .btn i {
    font-size: 24px;
}

.sidebar, .header {
    transition: all 0.5s;
}

.classContent {
    transition: all 0.5s, color 0s, background-color 0s, background 0s;
}

.dot {
    display: none;
}

.background, .cover.image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    opacity: 0.2;
}

.background {
    filter: blur(10px);
}

.header {
    margin-left: 275px;
    text-align: center;
    color: white;
    padding-top: 132px;
    z-index: 200;
    position: absolute;
    top: 0;
    width: calc(100% - 275px);
}

.classContent .card {
    margin: 25px 75px;
    text-align: left;
    border-radius: 25px;
}

.classContent .card {
    color: var(--text);
}

.card:not(.alert) i.close {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
    margin: 25px;
}

#headText {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 40px auto;
    background-color: var(--secText);
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.classContent .card .points {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    height: 24px;
    flex-shrink: 0;
}

.classContent .card .points.spinner {
    top: 25px;
    margin-top: 0px;
}

.classContent .card .points .earned {
    font-size: 24px;
    display: inline-block;
    font-weight: bold;
}

.classContent .card .points .total {
    font-size: 14px;
    display: inline-block;
    color: var(--secText);
}

.classContent .card:not(.color) .points .total, .assignment:not(.color) .weighted {
    color: var(--secText);
}

.assignment .weighted {
    color: var(--secText);
    font-size: 0.82rem;
}

.assignment .weighted i {
    font-size: 16px !important;
    margin-top: -3px;
}

.weight.parent .weight {
    padding: 10px !important;
    overflow: auto;
    margin: 10px 75px !important;
    transition: height 0.4s;
}

.weight.parent .weight.open {
    height: 400px !important;
}

.weight.parent .weight:not(.open) .open, .weight.parent .weight.open .close {
    display: none !important;
}

.weight .close p {
    margin: 0px !important;
    cursor: pointer;
}

.weight.parent .weight h4 {
    cursor: pointer;
}

.weight.parent .weight p {
    color: gray !important;
}

.weight.parent .weight:not(.open) {
    overflow: hidden !important;
}

.badge i {
    vertical-align: middle;
    font-size: 20px;
}

.dash.stream .card {
    margin-right: 25px;
}

.badge.missing {
    color: #b7630a;
    border-color: #b7630a;
}

.weight.parent {
    padding: 0px !important;
    overflow: visible;
    margin-bottom: 100px;
}

.card .weight p {
    color: var(--secText) !important;
}

.card.gb {
    padding: 0 !important;
}

.dash .card .points .total {
    color: var(--classColor);
}

.dash .card .floatingIcon {
    color: var(--classColor) !important;
}

.card.details fieldset, .card.details #tb_handin_link, .card.details div.p, .card.details label {
    display: none;
}

.card.assignment {
    cursor: pointer;
    padding: 18px 25px;
}

.classContent .card.assignment h5 {
    margin: 0px;
    margin-top: 10px;
    font-size: 1rem !important;
    min-height: 20px;
}

.classContent .card.assignment h4 {
    font-size: 18px;
    margin: 0px !important;
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
}

.classContent .card.assignment span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card.assignment .statusIcon {
    float: right;
    font-size: 16px;
    vertical-align: middle;
}

.class.active .name {
    font-weight: bold;
}

body:not(.dark) {
    --light: var(--flex-light, #efefef); --norm: var(--flex-layer1, #929292); --dark: var(--flex-layer3, #5f5f5f); --grad: linear-gradient(to bottom right, var(--cards), var(--background)); }

body.dark {
    --light: var(--flex-light, #949494); --norm: var(--flex-layer1, #444444); --dark: var(--flex-layer3, #292929); --grad: linear-gradient(to bottom right, var(--cards), var(--background)); }

body:not(.dark) .background, body:not(.dark) .header h1 {
    --grad: linear-gradient(to bottom right, var(--darker), var(--background)) !important; color: black !important;
}

#whatIfResults {
    display: none; 
    border: 2px solid var(--cards);
    background-color: var(--elements);
    position: fixed;
    top: 0;
    width: 400px;
    z-index: 999 !important;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.51);
}

#whatIfResults h5 {
    font-weight: bold;
    margin-bottom: 28px;
}

#whatIfResults .resultLetter {
    color: gray;
    font-weight: bold;
    float: right;
    display: inline-block;
    font-size: 32px;
}

.assignmentGrade {
    white-space: nowrap;
    overflow: hidden;
    font-size: 0px;
    display: inline-block;
    vertical-align: middle;
}

.assignmentGrade div {
    display: inline-block;
}

.assignmentGrade .grade {
    font-weight: bold;
    font-size: 18px;
    color: var(--text);
    vertical-align: bottom;
}

.assignmentGrade .value {
    font-size: 14px;
    color: var(--secText);
    vertical-align: bottom;
    margin-left: 2px;
}

.assignmentGrade:not(:hover) .letter, .assignmentGrade:not(:hover) .percentage {
    display: none;
}

.assignmentGrade:hover .grade, .assignmentGrade:hover .value {
    display: none;
}

.assignmentGrade .letter {
    font-size: 20px;
    font-weight: bold;
    color: var(--text);
    vertical-align: middle;
}

.assignmentGrade .percentage {
    font-size: 14px;
    color: var(--secText);
    margin-left: 4px;
    vertical-align: middle;
}

.gradebookAssignment {
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.gradebookAssignment h5 {
    margin: 0px;
    font-size: 18px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.gradebookAssignment .stats div {
    display: inline-block;
    vertical-align: middle;
}

.gradebookAssignment .stats {
    float: right;
    text-align: right;
}

.gradebookAssignment .gradebookLetter {
    font-weight: bold;
    font-size: 24px;
    width: 50px;
    text-align: center;
    margin-right: 15px;
}

.gradebookAssignment .gradebookScore {
    font-weight: bold;
    font-size: 20px;
    width: 80px;
    text-align: right;
}

.gradebookAssignment .gradebookValue {
    color: var(--secText);
    font-size: 16px;
    width: 70px;
    margin-right: 10px;
    text-align: left;
}

.gradebookAssignment .gradebookPercentage {
    color: var(--lightText);
    font-size: 18px;
    width: 60px;
    text-align: center;
}

.card.module h4 {
    margin: 5px 2px; 
    font-size: 32px; 
    font-weight: bold;
}

.card.module h4 i {
    cursor: pointer; 
    vertical-align: middle; 
    color: var(--lightText);
}

.moduleItem {
    color: var(--lightText); 
    padding:10px;
    font-size:17px;
    border-radius:15px;
    margin:5px 0; 
    cursor: pointer;
}

.moduleItem i {
    vertical-align: middle; 
    margin-right: 10px;
}

.background, .cover.image {
    background-size: 100%;
    position: absolute;
    z-index: -90;
}

.background:before {
    border-radius: inherit;
    background: linear-gradient(to bottom right, var(--classColor), var(--background));
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -100;
    transition: all 0.5s ease-in-out;
}

body.dashboard .background:before {
    background: var(--grad, linear-gradient(to bottom right, var(--cards), var(--background)));
}

.cover.image {
    transition: all 0.2s ease-in-out;
}

.background.trans:before {
    opacity: 1;
    transition: all 0.5s;
}

.dash .card.assignment {
    padding-left: 34px;
}

.dash .card .weighted {
    color: var(--classColor) !important;
}

.dash .card .weighted {
    opacity: 0.7;
}

body:not(.dev) .dev, body:not(.sudo) .sudo, body:not(.contributor) .contributor, body:not(.prerelease) .prerelease, body:not(.marketer) .marketer {
    display: none !important;
}

body.titlebar .items.toolbar {
    display: none !important;
}

.items.toolbar {
    position: absolute;
    right: 0;
    top: 0;
    margin: 12px;
    color: white;
    padding-right: 10px;
    z-index: 300;
}

.items.toolbar .itemButton {
    display: inline-block;
    font-size: 12px;
    padding: 5px;
    margin: 0px 4px;
    border-radius: 12px;
    cursor: pointer;
    color: var(--text);
}

.items.toolbar .itemButton i {
    font-size: 18px;
    margin: 0px;
    margin-right: 5px;
    vertical-align: middle;
}

.items.toolbar .itemButton img {
    width: 18px;
    height: 18px;
    margin: 0px;
    margin-right: 5px;
    vertical-align: middle;
}

body:not(.dark) .items.toolbar, body:not(.dark) .items.toolbar i, body:not(.dark) .items.toolbar h4, body:not(.dark) #timeRemaining {
    color: black !important;
}

body:not(.dark) #headText {
    color: black !important;
}

body:not(.dark) .items.toolbar.black, body:not(.dark) .items.toolbar.black i, body:not(.dark) .items.toolbar.black h4 {
    color: black !important;
}

.items.toolbar h4 {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    margin-right: 5px;
}

.items.toolbar i {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 3px;
}

.item.link {
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 10px;
}

.item.link i {
    vertical-align: middle;
    margin-right: 10px;
}

.item.link span {
    vertical-align: middle;
}

.earned.outcomes {
    height: 20px;
    text-align: right;
    writing-mode: vertical-rl;
    line-height: 0px;
    font-size: 0px !important;
    white-space: normal;
}

.earned.outcomes .outcome {
    background-color: var(--text);
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 1px;
}

.earned.outcomes .outcome.score1 {
    background-color: #b90000;
}

.earned.outcomes .outcome.score2 {
    background-color: #cc8400;
}

.earned.outcomes .outcome.score3 {
    background-color: #b5b500;
}

.earned.outcomes .outcome.score4 {
    background-color: #007700;
}

#whatIfGrade {
    position: fixed;
    top: 0px;
    margin: 20px;
    border-radius: 15px;
    background-color: var(--elements);
    border: 2px solid var(--secText);
    padding: 20px;
    z-index: 800;
    box-shadow: 0px 0px 20px 10px var(--elements);
}

#whatIfGrade .letter {
    width: 50px;
    height: 50px;
    background-color: var(--cards);
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    margin-right: 12px;
}

#whatIfGrade .notice {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

#whatIfGrade .notice h5 {
    font-size: 22px;
    margin: 0px;
    font-weight: bold;
}

#whatIfGrade .notice p {
    font-size: 14px;
    margin: 0px;
    margin-top: 10px;
}

#whatIfGrade .notice a {
    color: var(--lightText);
}

.recentChanges .changeName {
    font-size: 20px;
    margin-top: 20px;
    height: 32px;
    line-height: 32px;
}

.recentChanges i {
    margin-right: 10px;
}

.recentChanges .letter {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--elements);
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.recentChanges .alignmentChange {
    margin-left: 32px;
    font-size: 14px;
}

.recentChanges .alignmentChange span {
    font-size: 24px;
    margin-right: 5px;
}

/* FullCalendar Fluid UI CSS cutomizations v5.3.2 */
#calendar .fc-toolbar-title {
    font-size: 32px !important;
}

#calendar .fc-button-primary {
    background: none;
    box-shadow: none;
    border: none;
    color: var(--text);
}

#calendar td, #calendar th, #calendar .fc-scrollgrid {
    border: none;
}

#calendar a {
    color: var(--text);
}

#calendar .fc-event-time {
    display: none;
}

#calendar .fc-toolbar.fc-header-toolbar {
    margin-bottom: 10px;
}

#calendar .fc-h-event {
    border: 1px solid transparent;
    cursor: pointer;
}

#calendar .fc-event-title i {
    color: #c44848; 
    font-size: 12px; 
    vertical-align: middle; 
}

#calendar .fc-event-title span {
    vertical-align: middle; 
}

#calendar .fc-daygrid-day.fc-day-today {
    background-color: var(--theme);
    border-radius: 5px;
}

#calendar .fc-daygrid-day.fc-day-today a {
    color: var(--themeText);
}

#calendar .fc-scroller-liquid-absolute, #calendar .fc-view-harness-active>.fc-view {
    position: relative;
}

#calendar .fc-view-harness {
    height: auto !important;
}

#calendar .fc-col-header, #calendar .fc-daygrid-body, #calendar .fc-daygrid-body>table {
    width: 100% !important; 
}

#calendar .fc-h-event .fc-event-title {
    font-size: 12px;
}

.classToolChip {
    border-radius: 50%; 
    height: 40px; 
    width: 40px; 
    text-align: center; 
    display: inline-block; 
    vertical-align: middle; 
    cursor: pointer; 
    margin-right: 3px;
    background-color: var(--elements);
}

.classToolChip:hover {
    background-color: var(--darker);
    transition: background-color 0.2s;
}

body {
    --cardShadow: 0 5px 15px rgb(0 0 0 / 0.1) !important;
}