.class {
	background-color: #777777;
	opacity: 0.9;
	display: inline-block;
	border-radius: 30px;
	padding: 5px 15px;
	color: white;
	font-size: 18px;
	cursor: pointer;
	border: 2px solid #424242;
	line-height: 50px;
	width: 250px;
	height: 62px;
	margin: 10px 0;
	transition: background-color 0.5s;
}
.class .grade:not(:hover) .points, .class .grade:hover .letter {
	display: none;
}
.class .grade {
	float: right;
	background-color: #424242;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	margin-left: 10px;
	vertical-align: middle;
	border-radius: 50%;
	opacity: 0.9;
}
.class .grade .letter, .class .grade .points , .class .grade .material-icons {
	line-height: 50px;
}
.classDivider {
	display: inline-block;
	width: 250px;
	height: 2px;
	border-radius: 10px;
	background-color: transparent;
	margin: 15px 0;
}
.class .grade .letter {
	font-size: 24px; 
}
.class .grade .points {
	font-size: 12px;
}
.class .grade i {
	font-size: 32px;
}
.class.active {
	background-color: #424242;
	border: 2px solid #a3a3a3;
}
.class.active .grade {
	background-color: #a3a3a3;
}
.class .label {
	width: 156px;
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sidebar {
	width: 250px;
	padding-left: 10px;
	padding-top: 25px;
	z-index: 5;
	position: absolute;
}
.background {
	position: absolute;
	top: 0;
	background: linear-gradient(to bottom right, #a3a3a3, #424242);;
	width: 100%;
	height: 500px;
	border-radius: 0px 0px 25px 25px;
}
.background .header {
	margin-left: 260px;
	text-align: center;
	color: white;
	padding-top: 100px;
}
